<link rel="stylesheet" href="/css/dashboard.css" />
<div class="container">
    <form action="/dashboard/show" method="get"></form>
    <div id="title">
        <h2>Inicio</h2>
    </div>
    {{#each list}}
    <div class="contents">
        <div id="data">
            <img src="/img/show/icon-project.png" height="85" width="85"><br>
            <label><h6><b>Proyectos</b></h6></label>
            <h5>{{project}}</h5>
        </div>
        <div id="data">
            <img src="/img/show/icon-lenguaje.png" height="85" width="85"><br>
            <label><h6><b>Lenguajes</b></h6></label>
            <h5>{{language}}</h5>
        </div>
        <div id="data">
            <img src="/img/show/icon-test.png" height="85" width="85"><br>
            <label><h6><b>Pruebas</b></h6></label>
            <h5>{{test}}</h5>
        </div>
        <div id="data">
            <img src="/img/show/icon-exercise.png" height="85" width="85"><br>
            <label><h6><b>Ejercicios</b></h6></label>
            <h5>{{exercise}}</h5>
        </div>
        <div id="data">
            <img src="/img/show/icon-users.png" height="85" width="85"><br>
            <label><h6><b>Usuarios</b></h6></label>
            <h5>{{user}}</h5>
        </div>
    </div>
</div>
{{/each}}
</div>