<link rel="stylesheet" href="/css/dashboard.css" />
<div class="container">
    <form action="/dashboard/show" method="get"></form>
    <div id="title">
        <h1>Inicio</h1>
    </div>
    {{#each list}}
    <div class="contents">
        <div id="data">
            <img src="/img/show/icon-project.png" height="85" width="85"><br>
            <h2>Proyectos</h2>
            <h4>{{project}}</h4>
        </div>
        <div id="data">
            <img src="/img/show/icon-lenguaje.png" height="85" width="85"><br>
            <h2>Lenguajes</h2>
            <h4>{{language}}</h4>
        </div>
        <div id="data">
            <img src="/img/show/icon-test.png" height="85" width="85"><br>
            <h2>Pruebas</h2>
            <h4>{{test}}</h4>
        </div>
        <div id="data">
            <img src="/img/show/icon-exercise.png" height="85" width="85"><br>
            <h2>Ejercicios</h2>
            <h4>{{exercise}}</h4>
        </div>
        <div id="data">
            <img src="/img/show/icon-users.png" height="85" width="85"><br>
            <h2>Usuarios</h2>
            <h4>{{user}}</h4>
        </div>
    </div>
</div>
{{/each}}
</div>