<<link rel="stylesheet"  href="/CSS/clasificacion.css" />

<form action="/codign/list/{{user.iduser}}" method="get"></form>
<div class="contenedor" id="contenedor">
  {{#each list}}
  <div class="contenedor__contenido">
    <div class="nombre" id="nombre">
      <h1>{{nameCode}}</h1>
    </div>
    <div class="contenedor__contenido">
    <div class="nombre" id="nombre">
      <h1>{{descriptionCode}}</h1>
    </div>
    <div class="contenedor__contenido">
    <div class="nombre" id="nombre">
      <h1>{{code}}</h1>
    </div>
    <div class="contenedor__contenido">
    <div class="nombre" id="nombre">
      <h1>{{video}}</h1>
    </div>
    <div id="editar"> 
      <a href="/codign/edit/{{idCode}}"><button class="boton"><b>Editar</b></button></a>
    </div>
    <div class="codificacion" id="codificacion">
      <a href="/codign/add/{{idCode}}"><button class="boton"><b>Agregar codigo</b></button></a>
    </div>
  </div>
  {{else}}
  <div class="mensaje">
    <h2>No tienes ningun codigo</h2>
    <h3>¿Desea agregar?</h3>
    <a href="/codign/add/{{user.iduser}}"><button class="boton"><b>Agregar</b></button></a>
  </div>
  {{/each}}
</div>