<link rel="stylesheet" href="/css/profile.css">
 <div class="ajustes">
  <form action="/userProfile/profileView/{{user.idUser}}" method="get"></form>
  
        <h1>Ajustes</h1>
    </div>
    {{#each User}}
     <div class="profileUser">
        <div class="profile">
        <div class="userImage">
            <img src="/img/user/{{photo}}"
            height="250px" alt="user profile">
         
        </div>
       
            <table class="userData" >

                <tr>
              
                  <td>Nombre</td>
              
                  <td><p >{{username}}</p></td>
              
                 
              
                </tr>
              
                <tr>
              
                  <td>Correo</td>
              
                  <td><p>{{email}}</p></td>
              
                  
              
                </tr>

              
                
              
                
              
              </table>
      
     </div>
     <div class="toEdit">
        <a href="/userProfile/profileEdit/{{idUser}}"><button id="editar">Editar</button ></a> 
     </div>
    </div>
     {{/each}} 


