<link rel="stylesheet" href="profile.css">
<div class="ajustes">
  <h1>Ajustes</h1>
</div>
 {{#each User}} 
<form action="/userProfile/profileEdit/{{idUser}}" method="post">
  <div class="profileUser">
    <div class="profile">
       <div class="changeImage">
    

        <div id="changeImage">
          <img src="/img/user/{{photo}}" id="imagePreview" alt="default img"   >

        </div>
        <div>
          <input type="file" name="photo" id="filePicker" accept="image/*"  >
        </div>

      </div> 
    </div>

    <table class="userData">


      <tr>

        <td><label>Nombre de usuario:</label></td>

        <td><input type="text" name="username" class="texting" value="{{username}}"> </td>

        <td><img src="/edit.png" alt="" width="40px"></td>

      </tr>

      <tr>

        <td>Correo</td>

        <td><input type="text" name="email" class="texting" value="{{email}}"></td>

        <td> <img src="/edit.png" alt="" width="40px">

      </tr>
      <tr>

        <td>contraseña</td>

        <td><input type="password" name="password" class="texting" value="{{password}}"></td>

        <td> <img src="/edit.png" alt="" width="40px">

      </tr>
      

      <div class="toEdit">
       <button id="editar" type="submit">Guardar</button>
      </div>
</form>
{{/each}} 
</table>

</div>

</div>
<script src="/js/preview.js"></script>
<style>
 *{
    margin: 0;
    padding: 0;
    color: rgb(0, 0, 0);
    outline: none;
    text-decoration: none;



}
.toEdit button:hover {
 background-color: #002a61;
}


.profileUser{
    
    display: block;
position: absolute;
   top: 200px;
    left: 35%;
    width: 600px;
    height: 400px;
}
.userImage{
    display: inline;
}
.userData{
    padding-left: 30px;
    display: inline-block;
}
.ajustes{
   position: absolute;
   top: 120px;
   left: 50%;
}
.ajustes h1{
    text-align: center;
    color: black;
}
.toEdit{
    position: relative;
    top: 250px;
    left: 30%;
}
.toEdit1 button{
    position: relative;
    top: -40px;
    left: 50%;
    color: black;
    width: 100px;
    height: 40px;
    background-color: #004AAD ;
    border-radius: 10px;
    border: none;
}
.toEdit button{
    color: black;
    width: 100px;
    height: 40px;
    background-color: #004AAD;
    border-radius: 10px;
    border: none;
}
td{
    color: black;
}

.texting{
    color: black;
}
td{
    background-color: #D0D3D4;
    border-radius: 10px;
    border: 2px;
    border-color: black;
    border-style: outset;
}
td p {
    border-radius: 10px;
    color: black;
    background-color: rgb(253, 253, 253);
}
#imagePreview{
    height: 200px;
    width: 200px;
    border-radius: 120px;
}
</style>
