<link rel="stylesheet" href="/CSS/clasificacion.css" />

<form action="/classification/list/{{user.idUser}}" method="get"></form>
<div class="contenedor" id="contenedor">
  <a href="/classification/add/{{user.idUser}}"><button class="boton"><b>Agregar clasificacion</b></button></a>
  {{#each list}}
  <div class="contenedor__contenido">
    <div class="nombre" id="nombre">
      <h1>{{nameClassification}}</h1>
    </div>
    <div class="contenedor__contenido">
      <div class="nombre" id="nombre">
        <h1>{{descriptionClassification}}</h1>
      </div>
      <div class="contenedor__contenido">
        <div class="nombre" id="nombre">
          <h1>{{imageClassification}}</h1>
        </div>
        <div>
          <a href="/language/add/{{idClassification}}"><button class="boton"><b>Agregar Lenguaje</b></button></a>
        </div>
        <div>
          <a href="/language/list/{{idClassification}}"><button class="boton"><b>Listar Lenguajes</b></button></a>
        </div>
        <div id="edit">
          <a href="/classification/edit/{{idClassification}}"><button class="boton"><b>Editar</b></button></a>
        </div>
        <div class="add" id="add">
          <a href="/classification/remove/{{idClassification}}"><button class="boton"><b>Eliminar</b></button></a>
        </div>
      </div>
      {{else}}
      <div class="container">
        <h2>No tiene ninguna clasificacion</h2>
      </div>
      {{/each}}
    </div>