<link rel="stylesheet" href="/css/userAssignment/userAssignment.css">

<form action="/userAssignment/createAssignment" method="post" enctype="multipart/form-data">
  <div  id="title">
      <h1>Nueva asignacion</h1>
  </div><br><br>
  <div id="conten">
    <table id="content-table1">
      <thead>
        <tr>
          <th><label><button id="bot">Usuarios</button></label></th>
          <th><label><button id="bot">Roles</button></label></th>
          <th><label><button id="bot">Permisos</button></label></th>
        </tr>
      </thead>
    </table>
    <div>
      <table>
        <tbody id="fields">
          <tr>
            <td id="t">
              {{#each users}}
              <input type="checkbox" id="cbox1" name="userIdUser" value="{{idUser}}"> {{firstName}}</label><br>
              {{/each}}
            </td>

            <td id="t">
              {{#each roles}}
              <input type="checkbox" id="cbox1" name="roleIdRol" value="{{idRol}}"> {{nameRol}}</label><br>
              {{/each}}
            </td>

            <td id="t">
              {{#each permissions}}
              <input type="checkbox" id="cbox1" name="permissionIdPermission" value="{{idPermission}}">
              {{namePermission}}</label><br>
              {{/each}}
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div>
    <button id="butt1" type="submit">Guardar</button>
  </div>
</form>
<div>
  <a href="/userAssignment/list"><button id="but">Cancelar</button></a>
</div>