<link rel="stylesheet" href="">
{{#each assignment}}
<form action="/userAssignment/update/{{userIdUser}}" method="post" enctype="multipart/form-data">

  <div class="container">
    <div class="title">Editar</div><br><br>
    <div>
      <label>Usuario<br><br>
        <input type="text" name="userIdUser" value="{{firstName}}" readonly>
        <label>Rol<br><br>

          <input type="text" name="roleIdRol" value="{{idRol}}" readonly>

          <div>
            {{/each}}
            <label>Permisos</label>
            <select name="permissionIdPermission">
              {{#each permission}}
              <option value="{{idPermission}}">{{namePermission}}</option>
              {{/each}}
            </select>
          </div>

    </div>
  </div>

  <div>
    <button class="button" type="submit">Guardar</button>
  </div>
</form>
<div>
  <a href="/userAssignment/list"><button>Cancelar</button></a>
</div>