<link rel="stylesheet" href="/css/navegacion.css" />
{{#if user}}
  <header id="header">
    <div class="logo" id="logo">
      <img class="logo-imagen" src="/IMG/logo.png" alt="logo">
    </div>
    <div id="menu"  class="menu">
      <div onclick="mostrarMenu()" id="menu__boton" class="menu__boton">
        <img src="/IMG/boton-menu.png" alt="" />
      </div>
      <nav id="nav-bar" class="navbar__navegacion">
        <div id="cerrar" onclick="cerrarMenu()" class="boton-cerrar"><p>X</p></div>
        <div id="nav4">
          <a href="/proyecto/listar/{{user.idusuario}}"> Proyecto</a>
        </div>
        <div id="nav1">
          <a id="nav" href="/clasificacion/listar/{{user.idusuario}}"> Clasificación</a>
        </div>
        <div id="nav2">
          <a href="/codificacion/listar/{{user.idusuario}}"> Codificación</a>
        </div>
        <div id="nav3">
          <a href="/estructura/listar/{{user.idusuario}}"> Estructura</a>
        </div>
        <div id="nav4">
          <a href="/prueba/listar/{{user.idusuario}}"> Prueba</a>
        </div>
        <div id="nav5">
          <a href="/CerrarSecion">Cierre la Sesión</a>
        </div>
      </nav>
    </div>

  </header>
{{/if}}
<script src="/JS/navegacion.js"></script>