<form action="/prueba/lista_completa/{{user.idusuario}}" method="post">
<div id="contenido">
<div>
    <label for="">{{nombre}}</label>
</div>
<div>
    <label for="">{{descripcion}}</label>
</div>
<div>
    <a href=""><button>Editar</button></a>
</div>
<div>
    <label for="">{{preguntas}}</label>
    <a href=""><button>Editar</button></a>
</div>
<div>
    <label for="">{{respuestas}}</label>
    <a href=""><button>Editar</button></a>
</div>
</div>
</form>