<link rel="stylesheet" href="#" />
<div id="title">
    <label class="">Ejercicio</label>
</div>
{{#each exercise}}
<form action="/exercise/detail/{{idExercise}}" method="get"></form>
<div class="container">
    <div class="">
        <div class="">
            <div>
                <input name="idExercise" checked aria-checked="true" value="{{idExercise}}" readonly>
            </div>
            <div>
                <label>Nombre</label>
                <p>{{nameExercise}}</p>
            </div>
            <div>
                <label>Dercripcion</label>
                <p>{{descriptionExercise}}</p>
            </div>
            <div>
                <label>Puntaje</label>
                <p>{{punctuationExercise}}</p>
            </div>
            <div>
                <label>Lenguaje</label>
                <p>{{nameLanguage}}</p>
            </div>
            <div>
                <label>Código</label>
                <p>{{nameCode}}</p>
            </div>
        </div>
        <a href="/exercise/update/{{idExercise}}"><button type="button">Editar</button></a>
        <a href="/exercise/remove/{{idExercise}}"><button type="button">Eliminar</button></a>
    </div>
    {{/each}}
</div>