<link rel="stylesheet" href="/src/public/css/profile.css">
<div class="ajustes">
  <h1>Ajustes</h1>
</div>

<div class="profileUser">
  <div class="profile">
    <div class="userImage">
       {{#each User}}
      <form action="/user_profile/profile_edit{{user.idUser}}" method="post" enctype="multipart/form-data">
        <input type="file" name="sampleFlie" accept="image/*"  value="{{photo}}"/>
         {{/each}}
        <div class="toEdit1">
          <button id="editar" type="submit">Editar foto</button>
        </div>
      </form>
    </div>
  </div>

  <table class="userData">
    {{#each User}}
    <form action="/user_profile/profile_edit{{user.idUser}}" method="post">
      <tr>

        <td>Nombre</td>

        <td><input type="text" name="userName" class="texting" value="{{username}}"> </td>

        <td><img src="/edit.png" alt="" width="40px"></td>

      </tr>

      <tr>

        <td>Correo</td>

        <td><input type="text" name="userEmail" class="texting" value="{{email}}"></td>

        <td> <img src="/edit.png" alt="" width="40px">

      </tr>
      <tr>

        <td>contraseña</td>

        <td><input type="password" name="password" class="texting" value="{{password}}"></td>

        <td> <img src="/edit.png" alt="" width="40px">

      </tr>
       <tr>

        <td>Rol</td>

        <td><input type="text" name="userRol" class="texting" value="{{ idUserRol}}"></td>

        <td> <img src="/edit.png" alt="" width="40px">

      </tr>

      <div class="toEdit">
        <a href="/"><button id="editar" type="submit">Guardar</button></a>
      </div>
    </form>
    {{/each}}
  </table>

</div>

</div>