<link rel="stylesheet" href="/CSS/proyecto.css" />
<form action="/proyecto/listar/{{user.idusuario}}" method="get"></form>
 <center><label class="titulo">Proyectos</label></center>
<div class="contenedor" id="contenedor">
  {{#each lista}}
   <div class="contenedor__contenido">
    <div id="pscode">
      <h1 class="titulo">{{nombre_pro}}</h1>
    </div>
    <div class="detalle__proyecto">
    <div id="descripcion">
      <label class="titulo">Descripcion</label>
      <h1 class="label">{{descripcion}}</h1>
    </div>
    <div id="mision">
      <label class="titulo">Mision</label>
      <h1 class="label">{{mision}}</h1>
    </div>
    <div id="vision">
      <label class="titulo">Vision</label>
      <h1 class="label">{{vision}}</h1>
    </div class="label">
    <div class="editar" id="editar"><br>
      <a href="/proyecto/editar/{{iddatosproyecto}}"><button class="boton boton--mitad">Editar</button></a>
    </div>
      </div>
      </div>

  {{/each}}
    </div>
  {{#each listaObjetivos}}
    <div id="objetivos">
      <label class="label">Objetivos:</label>
      <h1 class="titulo">{{objetivos}}</h1>
    </div>
  {{/each}}
  <div id="proyecto">
    <a href="/proyecto/agregar/{{iddatosproyecto}}"><button class="boton boton--mitad"
      >Agregar proyecto</button></a>
  </div>
</div>
