<link rel="stylesheet" href="../../public/CSS/proyecto.css" />

<form action="/proyecto/listar/{{user.idusuario}}" method="get"></form>
<div id="contenedor">
    {{#each lista}}
  <div id="pscode">
    <h1>{{nombre_pro}}</h1>
  </div>
  <div id="descripcion">
    <h1>{{descripcion}}</h1>
  </div>
  <div id="mision">
    <h1>{{mision}}</h1>
  </div>
  <div id="vision">
    <h1>{{vision}}</h1>
  </div>
  <div id="editar">
      <a href="/proyecto/editar/{{iddatosproyecto}}"><button>Editar</button></a>
  </div>
  {{/each}}
  {{#each listaObjetivos}}
    <div id="objetivos">
    <h1>{{objetivos}}</h1>
  </div>
  {{/each}}
  <div id="clasificacion">
    <a href="/clasificacion/listar/{{user.idusuario}}"><button>Clasificacion</button></a>
  </div>
</div>