<link rel="stylesheet" href="/css/estructura-editar.css" TYPE="text/css" MEDIA="screen"/>
<script src="/JS/comentarios.js"></script>
{{#each lista}}
 <form action="/estructura/editar/{{idestructura}}" method="post">
{{/each}}
    <div id="contenido" class="container">
        {{#each lista}}
        <div id="nombre" >
            <label class="title">Nombre</label>
            <input value="{{nombre}}" type="text" name="nombre" id="estructura" checked aria-checked="true" />
        </div>
        <div id="descripcion">
            <label>Descripcion</label>
            <input type="text" name="descripcion" id="descripcion_css" checked aria-checked="true" value="{{descripcion}}"/>
        </div>
        <div id="codigo">
            <label>Codigo</label>
            <input type="text" name="codigo" id="codigo_css" checked aria-checked="true" value="{{codigo}}"/>
        </div>
        {{/each}}
        <div id="comentarios">
            <label>Comentarios:</label>
            {{#each listaComentarios}}
             <input type="text" id="numeros" name="comentarios" checked value="{{comentarios}}"/>
            {{/each}}
        </div>
        <div id="guardar">
            <button class="btn btn-primary d-block mx-auto"type="submit">Guardar</button>
        </div>
    </div>
</form>