<link rel="stylesheet" href="" />
<script src="/JS/objetivos.js"></script>
{{#each lista}}
 <form action="/proyecto/editar/{{iddatosproyecto}}" method="post">
{{/each}}
    <div id="contenido">
        {{#each lista}}
        <div id="nombre">
            <label>Nombre</label>
            <input value="{{nombre}}" type="text" name="nombre" id="estructura" checked aria-checked="true" />
        </div>
        <div id="descripcion">
            <label>Descripcion</label>
            <input type="text" name="descripcion" id="descripcion_css" checked aria-checked="true" value="{{descripcion}}"/>
        </div>
        <div id="codigo">
            <label>Codigo</label>
            <input type="text" name="codigo" id="codigo_css" checked aria-checked="true" value="{{codigo}}"/>
        </div>
        {{/each}}
        <div id="comentarios">
            <label>Comentarios:</label>
            {{#each listaComentarios}}
             <input type="text" id="numeros" name="comentarios" checked value="{{comentarios}}"/>
            {{/each}}
        </div>
        <div id="guardar">
            <button type="submit">Guardar</button>
        </div>
    </div>
</form>