<link rel="stylesheet" href="/css/estructura_listar.css" TYPE="text/css" MEDIA=screen />

<form action="/estructura/listar/{{user.idusuario}}" method="get"></form>
<div id="contenedor">
    {{#each lista}}
  <div id="pscode">
    <h1>{{nombre}}</h1>
  </div>
  <div id="descripcion">
    <h1>{{descripcion}}</h1>
  </div>
  <div id="codigo">
    <h1>{{codigo}}</h1>
  </div>
  <div id="editar">
      <a href="/estructura/editar/{{idestructura}}"><button>Editar</button></a>
  </div>
  {{/each}}
  {{#each listaComentarios}}
    <div id="comentarios">
    <h1>{{Comentarios}}</h1>
  </div>
  {{/each}}
</div>
<div id="estructura">
  <a href="/codificacion/listar/{{user.idusuario}}"><button>Agregar código</button></a>
</div>