<link rel="stylesheet" href="/css/estructura.css" TYPE="text/css" MEDIA="screen" />

<form action="/estructura/listar/{{user.idusuario}}" method="get"></form>
<div id="contenedor" class="container">
  {{#each lista}}
  <div id="pscode" class="elemnto__container">
    <label class="elemento__titulo">Codificación:</label>
    <h1 class="elemento--contenido">{{nombre}}</h1>
  </div>
  <div id="descripcion" class="elemnto__container">
    <label class="elemento__titulo">Descripción:</label>
    <h1 class="elemento--contenido">{{descripcion}}</h1>
  </div>
  <div id="codigo" class="elemnto__container">
    <label class="elemento__titulo">Codigo:</label>
    <h1 class="elemento--contenido">{{codigo}}</h1>
  </div>
  <div id="editar" class="elemnto__container">
    <a href="/estructura/editar/{{idestructura}}"><button class="btn btn-primary d-block width mx-auto">Editar</button></a>
  </div>
  {{/each}}
  {{#each listaComentarios}}
  <div id="comentarios" class="elemnto__container">
    <h1 class="elemento--contenido">{{Comentarios}}</h1>
  </div>
  {{/each}}
</div>
<div id="estructura">
  <a href="/codificacion/listar/{{user.idusuario}}"><button class="btn btn-primary d-block mx-auto">Agregar código</button></a>
</div>