<link rel="stylesheet" href="/css/answer/list.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<form action="/answer/list/{{user.idUser}}" method="get"></form>
<div id="createAnswer">
    <a href="/answer/create/{{user.idUser}}">
        <button id="btnAdd" type="button">Agregar Respuesta</button>
    </a>
</div>
<div id="miniContainer">
    <div id="elementsTitle">
        <div id="sideOne">
            <p id="blacked">Pregunta</p>
        </div>
        <div id="sideTwo">
            <p id="blacked">Ver</p>
            <p id="blacked">Eliminar</p>
        </div>
    </div>
</div>
<div id="containerIterator">
    {{#each list}}
    <div id="elementContainer">
        <div id="description">
            <p>Respuesta 1</p>
        </div>
        <div id="actions">
            <div id="edit">
                <button class="btn" id="icon" onclick="location.href='/answer/update/{{idAnswer}}'"><i
                        class="fa fa-eye"></i></button>
            </div>
            <div id="edit">
                <button class="btn" id="icon" onclick="location.href='/answer/create/{{idAnswer}}'"><i
                        class="fa fa-trash"></i></button>
            </div>
        </div>
    </div>
    
</div>
{{else}}
<div class='center-block frame text-center' id="content">
        <div class='card-body'>
            <h5 class='card-title'>
                No tienes respuestas registradas actualmente.
            </h5>
            <p class='card-text'>
                Desea agregar una.
            </p>

        {{/each}}
            <div class="text-center">
                <a href="/project/create/{{idProject}}">
                    <button class='btn btn-primary button' id="button">
                        <b>Agregar Respuesta</b>
                    </button>
                </a>
            </div>
        </div>
    </div>
</div>