<link rel="stylesheet" href="style.css">
<form action="/answers/list/{{user.idUser}}" method="get"></form>

<div id="container">
    <div class="row">
        {{#each list}}
        <div id="card">
            <div id="id">
                <p>{{idAnswers}}</p>
            </div>
            <div id="name">
                <p>{{nameAnswers}}</p>
            </div>
            <div id="description">
                <p>{{descriptionAnswers}}</p>
            </div>
            <div id="edit">
                <a href="/answers/update/{{idAnswers}}">
                <button type="button">Editar</button>
                </a>
            </div>
            <div id="createAnswers">
                <a href="/answers/create">
                <button type="button">Agregar</button>
                </a>
            </div>
        </div>
        {{/each}}
    </div>
</div>
