<link rel="stylesheet" href="style.css">
<form action="/tests/list/{{user.idUser}}" method="get"></form>

<div id="container">
    <div class="row">
        {{#each list}}
        <div id="card">
            <div id="id">
                <p>{{idTests}}</p>
            </div>
            <div id="name">
                <p>{{nameTests}}</p>
            </div>
            <div id="description">
                <p>{{descriptionTests}}</p>
            </div>
            <div id="edit">
                <a href="/tests/update/{{idTests}}">
                <button type="button">Editar</button>
                </a>
            </div>
            <div id="createTests">
                <a href="/answer/create/{{idTests}}">
                <button type="button">Agregar</button>
                </a>
            </div>
        </div>
        {{/each}}
    </div>
</div>