<link rel="stylesheet" href="/css/test/list.css">

<form action="/test/list/{{user.idUser}}" method="get"></form>
<div id="title">
    <h3>Prueba</h3>
</div>
<div id="createTest">
    <a href="/answer/create/{{idTest}}">
        <button id="btnAdd" type="button">Agregar Prueba</button>
    </a>
</div>
<div id="container">
    <div class="row">
        {{#each list}}
        <div id="card">
            <div id="id">
                <p>{{idTest}}</p>
            </div>
            <div id="name">
                <p>{{nameTest}}</p>
            </div>
            <div id="description">
                <p>{{descriptionTest}}</p>
            </div>

            <div id="edit">
                <a href="/test/update/{{idTest}}">
                    <button type="button" id="btnEdit">Editar Prueba</button>
                </a>
            </div>
        </div>
        {{/each}}
    </div>
</div>

<div class='center-block frame text-center' id="content">
        <div class='card-body'>
            <h5 class='card-title'>
                No tienes pruebas registradas actualmente.
            </h5>
            <p class='card-text'>
                Desea agregar una.
            </p>

        {{/each}}
            <div class="text-center">
                <a href="/project/create/{{idProject}}">
                    <button class='btn btn-primary button' id="button">
                        <b>Agregar Prueba</b>
                    </button>
                </a>
            </div>
        </div>
    </div>
</div>
<script src="/src/views/test/hidden.test.js"></script>