<link rel="stylesheet" href="/CSS/clasificacion.css" />

<form action="/codificacion/listar/{{user.idusuario}}" method="get"></form>
<div id="contenedor">
    {{#each lista}}
  <div id="pscode">
    <h1>{{nombre}}</h1>
  </div>
  <div id="descripcion">
    <h1>{{descripcion}}</h1>
  </div>
  <div id="editar">
      <a href="/codificacion/editar/{{idcodificacion}}"><button>Editar</button></a>
  </div>
  <div id="codigo">
    <a href="/estructura/agregar/{{idcodificacion}}"><button>Agregar codigo</button></a>
  </div>
  {{/each}}
</div>
<div id="codificacion">
  <a href="/clasificacion/listar/{{user.idusuario}}"><button>+</button></a>
</div>
