<link rel="stylesheet" href="/CSS/clasificacion.css" />

<form action="/codificacion/listar/{{user.idusuario}}" method="get"></form>
<div class="contenedor" id="contenedor">
    {{#each lista}}
    <div class="contenedor__contenido contenedor__contenido--codificacion">
  <div id="pscode">
    <h1 class="nombre-clasificacion">{{nombre}}</h1>
  </div>
  <div id="descripcion">
    <h1 class="descripcion-codificacion">{{descripcion}}</h1>
  </div>
  <div id="editar">
      <a href="/codificacion/editar/{{idcodificacion}}"><button class="boton">Editar</button></a>
  </div>
  <div id="codigo">
    <a href="/estructura/agregar/{{idcodificacion}}"><button class="boton">Agregar codigo</button></a>
  </div>
  {{/each}}
  </div>
</div>
<div id="codificacion">
  <a href="/clasificacion/agregar/{{user.idusuario}}"><button class="boton">Agregar clasificacion</button></a>
</div>
