<link rel="stylesheet" href="/src/public/css/project.css">
<form action="/project/list" method="get"></form>

<div id="container">
    <div class="row">
        {{#each list}}
        <div id="card" class="card">
            <div id="id">
                <p>{{idProject}}</p>
            </div>
            <div id="name">
                <label class="title">Nombre Proyecto:</label>
                <p>{{nameProject}}</p>
            </div>
            <div id="description">
                <label class="title">Descripcion:</label>
                <p>{{descriptionProject}}</p>
            </div>
        
            <div id="mission">
                <label class="title">Mision:</label>
                <p>{{mission}}</p>
            </div>
            <div id="vision">
                <label class="title">Vision:</label>
                <p>{{vision}}</p>
            </div>
            <div id="logo">
                <label class="title">Logo:</label>
                <p>{{logoProject}}</p>
            </div>
            <div id="edit">
                <a href="/project/edit/{{idProject}}">
                <button type="button" class="button">Editar</button>
                </a>
            </div>
            <div id="add">
                <a href="/project/add">
                <button type="button" class="button">Agregar</button>
                </a>
            </div>
        </div>
        {{/each}}
    </div>
    <div class="new">
        <p> No tienes proyectos registrados actualmente</p>
        <h3>Desea agregar uno</h3>
        <a href="/project/add/{{idProject}}"><button class="button"><b>Agregar
        proyecto</b></button></a>
    </div>
    
</div>