<link rel="stylesheet" href="/CSS/project.css" />
<form action="/project/list/{{user.idUser}}" method="get"></form>
<center><label class="">Proyectos</label></center>
<div class="container" id="container">
  {{#each lista}}
  <div class="">
    <div id="pscode">
      <h1 class="">{{nameProject}}</h1>
    </div>
    <div class="">
      <div id="description">
        <label class="title">Descripcion</label>
        <h1 class="label">{{descriptionProject}}</h1>
      </div>
      <div id="logo">
        <label class="title">logo</label>
        <h1 class="label">{{logoProject}}</h1>
      </div>
      <div id="mission">
        <label class="title">Mision</label>
        <h1 class="label">{{mission}}</h1>
      </div>
      <div id="vision">
        <label class="title">Vision</label>
        <h1 class="label">{{vision}}</h1>
      </div class="label">
      <div class="edit" id="edit"><br>
        <a href="/project/create/{{idProject}}"><button class="">Editar</button></a>
      </div>
    </div>
  </div>

  {{/each}}
</div>
{{#each listObjectives}}
<div id="objectives">
  <label class="label">Objetivos:</label>
  <h1 class="title">{{objective}}</h1>
</div>
{{/each}}

  <a href="/proyecto/agregar/{{idProject}}"><button class=""><b>Agregar
        proyecto</b></button></a>
</div>