<link rel="stylesheet" href="/src/public/css/project.css">
{{#each list}} 
<form action="/project/edit/{{idProject}}" method="post">
    <div id="title">
        <h1>Editar Proyecto</h1>
    </div>
 <div id="container" class="card">
    <div id="name">
        <label>Nombre:</label>
        <input type="text" name="nameProject" id="nameProject" required aria-checked="true" value="{{nameProject}}">
    </div>
    <div id="description">
        <label>Descripcion</label>
        <textarea name="descriptionProject" id="descriptionProject" required aria-checked="true">{{descriptionProject}}</textarea>
    </div>
    <div id="logo">
        <label>logo</label>
        <textarea name="logoProject" id="logoProject" required aria-checked="true">{{logoProject}}</textarea>
    </div>
    <div id="missionProject">
        <label>Mision:</label>
        <textarea name="mission" id="mission" required aria-checked="true">{{mission}}</textarea>
    </div>
    <div id="visionProject">
        <label>Vision:</label>
        <textarea name="vision" id="vision" required aria-checked="true">{{vision}}</textarea>
    </div>
    <div id="canceled">
        <button type="submit" class="button">Cancelar</button>
    </div>
    <div id="save">
        <button type="submit" class="button">Guardar</button>
    </div>
 </div>
 
</form>
{{/each}}